@charset "UTF-8";
@import url(_mycss.css);
body {
  overflow-x: hidden;
  background: url(../img/bg1.jpg) repeat-x top center #4CBAD7;
  font-family: "Helvetica Neue", Helvetica, "PingFang TC", "LiHei Pro", "Hiragino Sans GB", "Microsoft JhengHei", "微軟正黑體", Arial ,sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media (max-width: 991px) {
    body {
      background: url(../img/bg1_m.jpg) no-repeat top center #4CBAD7;
      background-size: 100%;
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

header .logo {
  margin-top: 2px; }

header #tm {
  padding: 0px;
  background-color: #fff;
  border: 3px solid #00a1e9;
  border-radius: 50px;
  cursor: pointer;
  margin: 0px 36px 0 10px;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  header #tm:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
    @media (max-width: 991px) {
      header #tm:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
  header #tm img {
    width: 40px; }

header .cata {
  display: inline-block;
  padding: 16px 0; }
  @media (max-width: 991px) {
    header .cata {
      display: none; } }
  @media (max-width: 991px) {
    header .cata {
      padding: 16px 0 0 0; } }
  header .cata .catabtn {
    display: inline-block;
    padding: 6px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease; }
    header .cata .catabtn:hover {
      -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      transform: translateY(-3px); }
    @media (max-width: 991px) {
      header .cata .catabtn {
        margin-top: 4px; } }
    header .cata .catabtn img {
      width: 20px;
      margin: -3px 3px 0 0; }
  header .cata #b1 {
    background-color: #cf2313; }
  header .cata #b2 {
    background-color: #ee5a2a; }
  header .cata #b3 {
    background-color: #efc337; }
  header .cata #b4 {
    background-color: #158046; }
  header .cata #b5 {
    background-color: #3f94e3; }
  header .cata #b6 {
    background-color: #4f49b2; }
  header .cata #b7 {
    background-color: #8f17a7; }
  header .cata #b8 {
    background-color: #944433; }
  header .cata #b9 {
    background-color: #e17f74; }

header #cm {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  background-color: #00a1e9;
  margin: 0 0 0 7px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media (min-width: 991px) {
    header #cm {
      display: none; } }
  @media (max-width: 991px) {
    header #cm {
      margin: 8px 0 0 0px;
      padding: 12px; } }
  header #cm:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
    @media (max-width: 991px) {
      header #cm:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
  header #cm img {
    width: 20px;
    height: 18px; }

header #tk {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  background-color: #00a1e9;
  margin: 0 0 0 7px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  @media (max-width: 991px) {
    header #tk {
      margin: 8px 0 0 8px;
      padding: 12px; } }
  header #tk:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
    @media (max-width: 991px) {
      header #tk:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
  header #tk img {
    width: 20px;
    height: 18px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: rotateX(180deg) translateY(1px);
    transform: rotateX(180deg) translateY(1px); }

.tkon {
  -webkit-transform: rotateX(0deg) !important;
  transform: rotateX(0deg) !important; }

.fc-right {
  margin-top: 16px !important; }
  @media (max-width: 991px) {
    .fc-right {
      width: 100%;
      float: left !important; }
      .fc-right .fc-button-group, .fc-right .fc-today-button {
        float: right !important;
        margin-bottom: 6px; }
      .fc-right .fc-button-group {
        margin-right: 10px; }
      .fc-right h2 {
        margin-left: 10px !important; } }

main h2 {
  color: #00a1e9 !important;
  font-weight: bold; }

main .fc-unthemed td, main .fc-unthemed th {
  border-color: #00a1e9; }

main .fc-event {
  border: none !important; }

main .fc-day-grid-event {
  margin: 1px 1px 0 1px; }

main .fc-event-container {
  z-index: 4; }
  main .fc-event-container a {
    border-radius: 0; }

main .fc-unthemed td {
  background-color: rgba(255, 255, 255, 0.5); }

main .fc-day-header {
  background-color: rgba(255, 255, 255, 0.6); }

main .fc-day-header.fc-sun, main .fc-day-header.fc-sat {
  background-color: rgba(255, 0, 0, 0.3) !important; }

main .fc-sun, main .fc-sat {
  background-color: rgba(255, 0, 0, 0.2) !important; }

main .fc-today {
  background-color: rgba(0, 161, 233, 0.6) !important; }
  main .fc-today span {
    color: #fff; }

main .tm2todaybc {
  background-color: rgba(228, 0, 127, 0.6) !important; }
  main .tm2todaybc span {
    color: #fff; }

main .fc-other-month {
  background-color: rgba(255, 255, 255, 0.2) !important; }
  main .fc-other-month td {
    opacity: 0.2 !important; }

main .fc-content-skeleton td {
  background-color: rgba(255, 255, 255, 0) !important; }

main .fc-body .fc-row {
  min-height: 120px !important; }
  @media (max-width: 768px) {
    main .fc-body .fc-row {
      min-height: 100px !important; } }

main .fc-bg td.fc-past {
  background-color: rgba(0, 0, 0, 0.06); }

main .fc-header-toolbar {
  margin: 0 !important; }

main #calendar > div.fc-view-container > div > table > tbody > tr > td > div > div > div {
  min-height: 144px !important; }
  @media (max-width: 767px) {
    main #calendar > div.fc-view-container > div > table > tbody > tr > td > div > div > div {
      min-height: 100px !important; } }

main .fc-content span {
  font-size: 14px;
  line-height: 22px; }

@media (min-width: 992px) {
  main .fc-content:hover span {
    white-space: normal !important;
    word-break: break-all !important; } }

main .fc-event-container span {
  padding-left: 2px; }

main .fc-event-container img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  z-index: 20; }

main .fc-time {
  display: none; }

main td.fc-today {
  position: relative; }
  main td.fc-today #today {
    width: 50px;
    position: absolute;
    top: -20px;
    left: 15px;
    z-index: 3;
    -webkit-animation: hane 5s infinite;
    animation: hane 5s infinite; }

@-webkit-keyframes hane {
  0% {
    -webkit-transform: translate(0px, -20px) rotate(10deg);
    transform: translate(0px, -20px) rotate(10deg);
    opacity: 0; }
  25% {
    -webkit-transform: translate(-20px, -10px) rotate(60deg);
    transform: translate(-20px, -10px) rotate(60deg);
    opacity: 1; }
  55% {
    -webkit-transform: translate(20px, 0px) rotate(20deg);
    transform: translate(20px, 0px) rotate(20deg); }
  75% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(-20px, 10px) rotate(60deg);
    transform: translate(-20px, 10px) rotate(60deg);
    opacity: 0; } }

@keyframes hane {
  0% {
    -webkit-transform: translate(0px, -20px) rotate(10deg);
    transform: translate(0px, -20px) rotate(10deg);
    opacity: 0; }
  25% {
    -webkit-transform: translate(-20px, -10px) rotate(60deg);
    transform: translate(-20px, -10px) rotate(60deg);
    opacity: 1; }
  55% {
    -webkit-transform: translate(20px, 0px) rotate(20deg);
    transform: translate(20px, 0px) rotate(20deg); }
  75% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(-20px, 10px) rotate(60deg);
    transform: translate(-20px, 10px) rotate(60deg);
    opacity: 0; } }
    @media (max-width: 767px) {
      main td.fc-today #today {
        width: 40px; } }

.wrap, .wrapone {
  white-space: normal;
  word-break: break-all; }

.hidden {
  display: none; }

.visible {
  display: inline-block !important; }

.grey {
  background-color: #aaa !important; }

.tm2cl {
  color: #e5007f !important; }

.tm2bd {
  border-color: #e5007f !important; }

.tm2bg {
  background: url(../img/bg2.jpg) repeat-x top center #91d746 !important; }
  @media (max-width: 991px) {
    .tm2bg {
      background: url(../img/bg2_m.jpg) no-repeat top center #83d247 !important;
      background-size: 100% auto !important; } }

.tm2bc {
  background-color: #e5007f !important; }

.tmanime {
  -webkit-animation: tmanime 0.2s;
  animation: tmanime 0.2s; }

@-webkit-keyframes tmanime {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  50% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes tmanime {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  50% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

.tran {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

footer .copyright {
  margin: 50px 0 10px 0; }
  @media (max-width: 991px) {
    footer .copyright {
      margin: 20px 0 5px 0; } }
  footer .copyright span {
    color: #fff;
    margin: 0; }
  footer .copyright a#kanri {
    display: inline-block;
    color: #fff;
    text-decoration: underline;
    padding-left: 5px;
    cursor: pointer; }
  footer .copyright a#mail {
    background: url("../img/mail.jpg") no-repeat top center;
    width: 25px;
    height: 17px;
    background-size: 100%;
    display: inline-block;
    -webkit-transform: translate(10px, 4px);
    -ms-transform: translate(10px, 4px);
    transform: translate(10px, 4px);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    footer .copyright a#mail:hover {
      -webkit-transform: scale(1.5) translate(10px, 4px);
      -ms-transform: scale(1.5) translate(10px, 4px);
      transform: scale(1.5) translate(10px, 4px); }
