@charset "UTF-8";
@import url(_mycss.css);
#gotop {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 70px;
  padding: 10px 14px;
  font-size: 22px;
  background: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
  z-index: 500;
  border-radius: 50px; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #gotop {
      right: 4px;
      bottom: 56px; } }
  @media (max-width: 767px) {
    #gotop {
      right: 4px;
      bottom: 46px; } }
  #gotop:hover {
    background: rgba(0, 0, 0, 0); }
    #gotop:hover i {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }

body {
  overflow-x: hidden;
  background: url(../img/bg1.jpg) repeat-x top center #4CBAD7;
  font-family: "Helvetica Neue", Helvetica, "PingFang TC", "LiHei Pro", "Hiragino Sans GB", "Microsoft JhengHei", "微軟正黑體", Arial ,sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media (max-width: 991px) {
    body {
      background: url(../img/bg1_m.jpg) no-repeat top center #4CBAD7;
      background-size: 100%;
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

#mente {
  background: url("../img/mente.jpg") no-repeat top center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100; }

#papa {
  z-index: 10;
  position: fixed;
  top: 47.5%;
  left: 47.5%;
  width: 100px;
  -webkit-animation: papa 0.6s infinite linear;
  animation: papa 0.6s infinite linear; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #papa {
      top: 50%;
      left: 44%; } }
  @media (max-width: 767px) {
    #papa {
      top: 47.5%;
      left: 38%; } }

@-webkit-keyframes papa {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes papa {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@media (max-width: 991px) {
  .fc-left {
    width: 100% !important; } }

@media (max-width: 991px) {
  header {
    width: 100% !important; } }

header .logo {
  width: 120px;
  height: 40px;
  background: url("../img/logo.png") no-repeat;
  margin: 8px 0 0 0;
  background-size: contain;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  float: left; }
  header .logo a {
    display: block;
    width: 100%;
    height: 100%; }
  @media (max-width: 900px) {
    header .logo {
      width: 140px;
      height: 50px;
      margin: 2px 0 0 0; } }

header #tm {
  vertical-align: top;
  padding: 0px;
  background-color: #fff;
  border: 3px solid #00a1e9;
  border-radius: 50px;
  cursor: pointer;
  margin: 7px 6px 0px 0px;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  @media (max-width: 359px) {
    header #tm {
      margin: 7px 0 0 0; } }
  header #tm:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
    @media (max-width: 991px) {
      header #tm:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
  header #tm img {
    width: 40px; }

header .cata {
  font-size: 14px;
  display: inline-block;
  padding: 8px 0; }
  @media (max-width: 991px) {
    header .cata {
      display: none; } }
  @media (max-width: 991px) {
    header .cata {
      padding: 16px 0 0 0; } }
  header .cata .catabtn {
    display: inline-block;
    padding: 2px 8px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease; }
    header .cata .catabtn:hover {
      -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      transform: translateY(-3px); }
    @media (max-width: 991px) {
      header .cata .catabtn {
        margin-top: 4px; }
        header .cata .catabtn:hover {
          -webkit-transform: translateY(0px);
          -ms-transform: translateY(0px);
          transform: translateY(0px); } }
    header .cata .catabtn img {
      width: 20px;
      margin: -2px 1px 0 0; }
  header .cata #muse {
    background-color: #e5007f; }
  header .cata #aqours {
    background-color: #00a1e9; }
  header .cata #niji {
    background-color: #f09700;
    margin-right: 10px; }
  header .cata #b1 {
    background-color: #cf2313; }
  header .cata #b2 {
    background-color: #ee5a2a; }
  header .cata #b3 {
    background-color: #efc337; }
  header .cata #b4 {
    background-color: #158046; }
  header .cata #b5 {
    background-color: #8f17a7; }
  header .cata #b6 {
    background-color: #4f49b2; }
  header .cata #b7 {
    background-color: #e17f74; }
  header .cata #b8 {
    background-color: #944433; }
  header .cata #b9 {
    background-color: #616161; }

header #cm {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  background-color: #00a1e9;
  margin: 0 0 0 7px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  @media (min-width: 991px) {
    header #cm {
      display: none; } }
  @media (max-width: 991px) {
    header #cm {
      margin: 7px 0 0 0px;
      padding: 13px; } }
  header #cm:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
    @media (max-width: 991px) {
      header #cm:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
  header #cm img {
    width: 20px;
    height: 18px; }

header #tk {
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  padding: 13px;
  border-radius: 50px;
  background-color: #00a1e9;
  margin: 7px 0 0 10px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  @media (max-width: 991px) {
    header #tk {
      margin: 7px 8px 0 8px;
      padding: 13px; } }
  header #tk:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
    @media (max-width: 991px) {
      header #tk:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
  header #tk img {
    width: 20px;
    height: 18px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: rotateX(180deg) translateY(1px);
    transform: rotateX(180deg) translateY(1px); }

.tkon {
  -webkit-transform: rotateX(0deg) !important;
  transform: rotateX(0deg) !important; }

.fc-right {
  margin-top: 15px !important; }
  @media (max-width: 991px) {
    .fc-right {
      margin-top: 10px !important;
      width: 100%;
      padding-right: 10px;
      float: left !important; }
      .fc-right .fc-button-group, .fc-right .fc-today-button {
        float: right !important;
        margin-bottom: 6px; }
      .fc-right .fc-button-group {
        margin-right: 10px; }
      .fc-right h2 {
        margin-left: 10px !important; } }
    @media (max-width: 991px) and (max-width: 359px) {
      .fc-right h2 {
        font-size: 26px;
        margin: 0 !important; } }
  @media (max-width: 359px) {
    .fc-right {
      padding-right: 0px; } }
  @media (max-width: 320px) {
    .fc-right {
      padding-right: 4px; } }

.fc-next-button.fc-button > span, .fc-prev-button.fc-button > span {
  margin: 0; }

.fc-footer-toolbar > div.fc-right > h2 {
  display: none; }

main h2 {
  color: #00a1e9 !important;
  font-weight: bold; }

main .fc-unthemed td, main .fc-unthemed th {
  border-color: #00a1e9; }

main .fc-event {
  border: none !important; }

main .fc-day-grid-event {
  margin: 1px 1px 0 1px; }

main .fc-event-container {
  z-index: 4; }
  main .fc-event-container a {
    border-radius: 0; }

main .fc-unthemed td {
  background-color: rgba(255, 255, 255, 0.5); }

main .fc-day-header {
  background-color: rgba(255, 255, 255, 0.6); }

main .fc-day-header.fc-sun, main .fc-day-header.fc-sat {
  background-color: rgba(255, 0, 0, 0.3) !important; }

main .fc-sun, main .fc-sat {
  background-color: rgba(255, 0, 0, 0.2) !important; }

main .fc-today {
  background-color: rgba(0, 161, 233, 0.5) !important; }
  main .fc-today span {
    color: #fff !important; }

main .tm2todaybc {
  background-color: rgba(228, 0, 127, 0.5) !important; }
  main .tm2todaybc span {
    color: #fff !important; }

main .fc-other-month {
  background-color: rgba(255, 255, 255, 0.2) !important; }
  main .fc-other-month td {
    opacity: 0.2 !important; }

main .fc-content-skeleton td {
  background-color: rgba(255, 255, 255, 0) !important; }

main .fc-body .fc-row {
  height: auto !important;
  min-height: 120px !important; }
  @media (max-width: 768px) {
    main .fc-body .fc-row {
      min-height: 100px !important; } }

main .fc-bg td.fc-past {
  background-color: rgba(0, 0, 0, 0.06); }

main .fc-past span {
  color: #944433 !important;
  opacity: 0.7 !important;
  text-decoration: line-through !important; }

main .fc-past a {
  color: #944433 !important;
  opacity: 0.7 !important;
  text-decoration: line-through !important; }

main .fc-toolbar {
  margin: 0 !important; }

main .fc-header-toolbar {
  margin: 0 !important; }

main .fc-today a.fc-day-number {
  color: #fff; }

main a.fc-day-number {
  color: #333; }

@media (max-width: 767px) {
  main .fc-day-header span {
    display: inline-block; } }

main #mu {
  z-index: 100;
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%); }
  @media (max-width: 767px) {
    main #mu {
      width: 50%; } }

main #calendar > div.fc-view-container > div > table > tbody > tr > td > div > div > div {
  min-height: 144px !important; }
  @media (max-width: 767px) {
    main #calendar > div.fc-view-container > div > table > tbody > tr > td > div > div > div {
      min-height: 100px !important; } }

main tbody.fc-body > tr > td > div {
  min-height: 430px; }

main .fc-button-group {
  margin: 0 0px 6px 10px !important; }

main #calendar > div.fc-view-container > div.fc-month-view .fc-bg td {
  height: 0 !important; }

main .fc-content span {
  font-size: 14px;
  line-height: 22px; }

@media (min-width: 992px) {
  main .fc-content:hover span {
    cursor: pointer; } }

main .fc-event-container span {
  padding-left: 2px; }

main .fc-event-container img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  z-index: 20; }

main .fc-time {
  display: none; }

main .fc-month-view #today {
  display: inline-block !important; }

main td.fc-today {
  position: relative; }
  main td.fc-today #today {
    display: none;
    width: 50px;
    position: absolute;
    top: -20px;
    left: 15px;
    z-index: 3;
    pointer-events: none;
    -webkit-animation: hane 5s infinite;
    animation: hane 5s infinite; }

@-webkit-keyframes hane {
  0% {
    -webkit-transform: translate(0px, -20px) rotate(10deg);
    transform: translate(0px, -20px) rotate(10deg);
    opacity: 0; }
  25% {
    -webkit-transform: translate(-20px, -10px) rotate(60deg);
    transform: translate(-20px, -10px) rotate(60deg);
    opacity: 1; }
  55% {
    -webkit-transform: translate(20px, 0px) rotate(20deg);
    transform: translate(20px, 0px) rotate(20deg); }
  75% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(-20px, 10px) rotate(60deg);
    transform: translate(-20px, 10px) rotate(60deg);
    opacity: 0; } }

@keyframes hane {
  0% {
    -webkit-transform: translate(0px, -20px) rotate(10deg);
    transform: translate(0px, -20px) rotate(10deg);
    opacity: 0; }
  25% {
    -webkit-transform: translate(-20px, -10px) rotate(60deg);
    transform: translate(-20px, -10px) rotate(60deg);
    opacity: 1; }
  55% {
    -webkit-transform: translate(20px, 0px) rotate(20deg);
    transform: translate(20px, 0px) rotate(20deg); }
  75% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(-20px, 10px) rotate(60deg);
    transform: translate(-20px, 10px) rotate(60deg);
    opacity: 0; } }
    @media (max-width: 767px) {
      main td.fc-today #today {
        width: 40px; } }

.full15 {
  padding: 0 15px; }

.wrap, .wrapone {
  white-space: normal;
  word-break: break-all; }

.hidden {
  display: none; }

.grouphidden {
  display: none; }

.visible {
  display: inline-block !important; }

.grey {
  background-color: #aaa !important; }

.tm2cl {
  color: #e5007f !important; }

.tm2bd {
  border-color: #e5007f !important; }

.tm2bg {
  background: url(../img/bg2.jpg) repeat-x top center #91d746 !important; }
  @media (max-width: 991px) {
    .tm2bg {
      background: url(../img/bg2_m.jpg) no-repeat top center #84d146 !important;
      background-size: 100% auto !important; } }

.tm2bc {
  background-color: #e5007f !important; }

.tmanime {
  -webkit-animation: tmanime 0.2s;
  animation: tmanime 0.2s; }

@-webkit-keyframes tmanime {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  50% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes tmanime {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  50% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

.tran {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

h2.tran {
  -webkit-transform: translate(4px, 0px);
  -ms-transform: translate(4px, 0px);
  transform: translate(4px, 0px); }

@media (max-width: 767px) {
  footer .copyright {
    text-align: left !important;
    margin-left: 10px !important;
    margin-top: 10px !important; } }

footer .copyright {
  position: relative;
  margin: 30px 0 10px 0; }
  @media (max-width: 991px) {
    footer .copyright {
      margin: 20px 0 5px 0; } }
  footer .copyright span {
    color: #fff;
    margin: 0; }
  footer .copyright a#kanri, footer .copyright a#statement {
    display: inline-block;
    color: #fff;
    text-decoration: underline;
    padding-left: 5px;
    cursor: pointer; }
  footer .copyright a#mail {
    background: url("../img/mail.jpg") no-repeat top center;
    width: 25px;
    height: 17px;
    background-size: 100%;
    display: inline-block;
    -webkit-transform: translate(10px, 4px);
    -ms-transform: translate(10px, 4px);
    transform: translate(10px, 4px);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  footer .copyright a#plurk {
    background: url("../img/plurk.png") no-repeat top center;
    width: 20px;
    height: 20px;
    background-size: 100%;
    display: inline-block;
    -webkit-transform: translate(5px, 4px);
    -ms-transform: translate(5px, 4px);
    transform: translate(5px, 4px);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

footer .kanri, footer .statement {
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
  display: none;
  background-color: #fffdf8;
  width: 180px;
  padding: 10px 0;
  border-radius: 5px;
  position: fixed;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5; }
  footer .kanri img#close, footer .statement img#close {
    cursor: pointer;
    border-radius: 50px;
    width: 20px;
    position: absolute;
    right: 4px;
    top: 4px; }
  footer .kanri p, footer .kanri span, footer .statement p, footer .statement span {
    margin: 0;
    color: #34495E; }

footer .statement {
  width: 240px;
  padding: 10px; }
  footer .statement #cc {
    padding: 6px 0 0px 0; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .fc-footer-toolbar .fc-left {
    width: 460px !important;
    margin: -5px 0 0 0; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .fc-footer-toolbar .fc-right {
    width: 260px; } }

#miss form {
  padding-top: 15px; }
  @media (max-width: 767px) {
    #miss form {
      padding: 0 !important; } }
  #miss form p.big {
    font-size: 18px;
    margin: 10px 0 10px 0;
    font-weight: 600; }
    @media (min-width: 768px) {
      #miss form p.big {
        display: none; } }
  #miss form hr {
    margin: 0 0 15px 0 !important; }
    @media (min-width: 768px) {
      #miss form hr {
        display: none; } }
  @media (max-width: 767px) {
    #miss form {
      -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1); } }
  #miss form hr {
    margin: 0; }
  #miss form img#close {
    cursor: pointer;
    border-radius: 50px;
    width: 20px;
    position: absolute;
    right: 4px;
    top: 4px; }
  @media (max-width: 767px) {
    #miss form {
      padding-top: 28px; } }
  @media (max-width: 767px) {
    #miss form {
      position: fixed;
      z-index: 10;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 220px;
      height: 200px;
      border-radius: 5px;
      background-color: #fff;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; } }
  #miss form textarea {
    vertical-align: top;
    width: 340px;
    max-width: 340px;
    height: 30px;
    line-height: 26px;
    border-radius: 4px;
    border: none;
    resize: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    @media (max-width: 767px) {
      #miss form textarea {
        min-height: 80px;
        height: auto !important;
        line-height: 20px; } }
    #miss form textarea::-webkit-input-placeholder {
      color: #999; }
    #miss form textarea:-ms-input-placeholder {
      color: #999; }
    #miss form textarea::-ms-input-placeholder {
      color: #999; }
    #miss form textarea::placeholder {
      color: #999; }
    @media (max-width: 991px) {
      #miss form textarea {
        width: 370px; } }
    @media (max-width: 767px) {
      #miss form textarea {
        width: 86%;
        height: 70%;
        margin-bottom: 12px;
        border: 1px solid #ccc;
        border-radius: 0px; } }
  #miss form button {
    height: 30px; }
    @media (max-width: 767px) {
      #miss form button {
        margin: 0 10px; } }

@media (min-width: 768px) {
  #cancel {
    display: none; } }

@media (max-width: 767px) {
  .missnone {
    display: none; } }

.setup, #missbtn, .search {
  color: #fff;
  font-size: 24px;
  vertical-align: middle;
  margin: 0 6px 0 0;
  cursor: pointer; }
  @media (max-width: 768px) {
    .setup, #missbtn, .search {
      margin: 0 16px 0 0; } }
  @media (max-width: 359px) {
    .setup, #missbtn, .search {
      font-size: 24px; } }
  @media (max-width: 767px) {
    .setup, #missbtn, .search {
      float: left;
      margin: 0 0 0 15px; } }
  @media (max-width: 320px) {
    .setup, #missbtn, .search {
      margin: 0 0 0 10px; } }

#setup {
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
  display: none;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 220px;
  height: 200px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  #setup img#close {
    cursor: pointer;
    border-radius: 50px;
    width: 20px;
    position: absolute;
    right: 4px;
    top: 4px; }
  #setup p.big {
    font-size: 18px;
    margin: 10px 0 10px 0;
    font-weight: 600; }
  #setup p.small {
    font-size: 14px;
    color: #ff7e90; }
  #setup p {
    font-size: 16px; }
  #setup hr {
    margin: 0 0 24px 0; }
  #setup .gmt8, #setup .gmt9 {
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #666;
    color: #666;
    width: 60%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 12px;
    cursor: pointer; }
  #setup .gmtactive {
    background-color: #00a1e9;
    color: #fff;
    border: none; }

.fc-toolbar {
  position: relative; }

#full {
  width: 30px;
  cursor: pointer;
  padding-top: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media (max-width: 1025px) {
    #full {
      display: none; } }

#search {
  text-align: left;
  z-index: 9999;
  position: relative; }
  @media (max-width: 600px) {
    #search {
      margin-left: 17px; } }
  @media screen and (min-width: 600px) and (max-width: 768px) {
    #search {
      -webkit-transform: translate(30px, 0px);
      -ms-transform: translate(30px, 0px);
      transform: translate(30px, 0px); } }
  #search i {
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
    -webkit-transform: translate(0, 2px);
    -ms-transform: translate(0, 2px);
    transform: translate(0, 2px); }
  #search input {
    height: 30px;
    border-radius: 4px;
    border: none;
    padding-left: 5px; }
    #search input::-webkit-input-placeholder {
      color: #999; }
    #search input:-ms-input-placeholder {
      color: #999; }
    #search input::-ms-input-placeholder {
      color: #999; }
    #search input::placeholder {
      color: #999; }

#miss_m {
  position: relative; }

@media (max-width: 600px) {
  #input {
    position: absolute;
    top: -45px;
    left: 10px;
    width: 150px;
    padding-left: 5px;
    border: 1px solid #ddd;
    z-index: 9999;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    #input::-webkit-input-placeholder {
      color: #999; }
    #input:-ms-input-placeholder {
      color: #999; }
    #input::-ms-input-placeholder {
      color: #999; }
    #input::placeholder {
      color: #999; } }

.aun {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5007f+33,00a1e9+33,00a1e9+33,00a1e9+66,f09700+66 */
  background: #e5007f;
  background: -moz-linear-gradient(left, #e5007f 33%, #00a1e9 33%, #00a1e9 33%, #00a1e9 66%, #f09700 66%);
  background: -webkit-linear-gradient(left, #e5007f 33%, #00a1e9 33%, #00a1e9 33%, #00a1e9 66%, #f09700 66%);
  background: -webkit-gradient(linear, left top, right top, color-stop(33%, #e5007f), color-stop(33%, #00a1e9), color-stop(33%, #00a1e9), color-stop(66%, #00a1e9), color-stop(66%, #f09700));
  background: -o-linear-gradient(left, #e5007f 33%, #00a1e9 33%, #00a1e9 33%, #00a1e9 66%, #f09700 66%);
  background: linear-gradient(to right, #e5007f 33%, #00a1e9 33%, #00a1e9 33%, #00a1e9 66%, #f09700 66%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5007f', endColorstr='#f09700',GradientType=1 ); }

@media (max-width: 320px) {
  .at-expanding-share-button-toggle {
    -webkit-transform: translate(10px, -15px) scale(0.7);
    -ms-transform: translate(10px, -15px) scale(0.7);
    transform: translate(10px, -15px) scale(0.7); } }

html, body {
  overflow: hidden; }

#maintenance {
  z-index: 99999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffee56; }
  #maintenance img {
    position: fixed;
    bottom: 0;
    right: 0; }
