@charset "UTF-8";
body {
  overflow-x: hidden;
  background: url(../img/bg1.jpg) no-repeat top center #4CBAD7;
  font-family: "Helvetica Neue", Helvetica, "PingFang TC", "LiHei Pro", "Hiragino Sans GB", "Microsoft JhengHei", "微軟正黑體", Arial ,sans-serif;
  background-size: 100%; }

main h2 {
  color: #34495E !important; }

main .fc-event-container a {
  border-radius: 0; }

main .fc-unthemed td {
  background-color: rgba(255, 255, 255, 0.2); }

main .fc-day-header {
  background-color: rgba(255, 255, 255, 0.6); }

main .fc-day-header.fc-sun, main .fc-day-header.fc-sat {
  background-color: rgba(255, 0, 0, 0.3) !important; }

main .fc-sun, main .fc-sat {
  background-color: rgba(255, 0, 0, 0.1) !important; }

main .fc-today {
  background-color: rgba(0, 0, 255, 0.2) !important; }

main .fc-other-month {
  background-color: rgba(255, 255, 255, 0.2) !important; }
  main .fc-other-month td {
    opacity: 0.2 !important; }

main .fc-content-skeleton td {
  background-color: rgba(255, 255, 255, 0) !important; }

main .fc-content span {
  white-space: normal; }
