#gotop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 16px 20px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  z-index: 500;
  border-radius: 50px; }
  #gotop:hover {
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }

.clearfix {
  *zoom: 1; }
  .clearfix::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden; }

.logo {
  width: 160px;
  height: 58px;
  background: url("../img/logo.png") no-repeat;
  margin: 0;
  background-size: contain;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  float: left; }
  .logo a {
    display: block;
    width: 100%;
    height: 100%; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

.img {
  width: 100%; }

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.rowsh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .rowsh [class*="col-"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.mb {
  margin-bottom: 5px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb30 {
  margin-bottom: 30px; }

.mb50 {
  margin-bottom: 50px; }

.mb100 {
  margin-bottom: 100px; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt30 {
  margin-top: 30px; }

.mt50 {
  margin-top: 50px; }

.mt100 {
  margin-top: 100px; }

.m5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.m10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.m15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.m30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.m50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.m100 {
  margin-top: 100px;
  margin-bottom: 100px; }

#test {
  position: fixed;
  top: 0;
  left: 0; }
