//color
$main: #00BDB4
$sub: #F58412
$text: #34495E

//body
body
  overflow-x: hidden
  background: url(../img/bg1.jpg) no-repeat top center #4CBAD7
  font-family: "Helvetica Neue", Helvetica, "PingFang TC", "LiHei Pro", "Hiragino Sans GB", "Microsoft JhengHei", "微軟正黑體", Arial ,sans-serif
  background-size: 100%

//nav
nav

//header
header

//main
main
  h2
    color: $text !important
  .fc-event-container
    a
      border-radius: 0
  .fc-unthemed td
    background-color: rgba(255, 255, 255, 0.2)
  .fc-day-header
    background-color: rgba(255, 255, 255, 0.6)
  .fc-day-header.fc-sun,.fc-day-header.fc-sat
    background-color: rgba(255, 0, 0, 0.3) !important
  .fc-sun,.fc-sat
    background-color: rgba(255, 0, 0, 0.1) !important
  .fc-today
    background-color: rgba(0, 0, 255, 0.2) !important
  .fc-other-month
    background-color: rgba(255, 255, 255, 0.2) !important
    td
      opacity: 0.2 !important
  .fc-content-skeleton td
    background-color: rgba(255, 255, 255, 0) !important
//footer
footer
