doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width initial-scale=1.0')
    //meta(name='viewport' content='width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no')
    meta(name='description' content='網頁描述')
    meta(name='keywords' content='LoveLive! Calendar!!,LoveLive Calendar,LL Calendar,LoveLive行事曆,LL行事曆,LoveLive月曆,LL月曆')
    meta(name='author' content='Bohan Huang')
    link(rel='shortcut icon' href='img/.ico')
    title LoveLive! Calendar!!
    link(rel='stylesheet' href='plugins/bootstrap-3.3.1-24/css/bootstrap.min.css')
    link(rel='stylesheet' href='css/mycss.css')
    link(rel='stylesheet' href='css/index.css')
    link(rel='stylesheet', href='plugins/fullcalendar/fullcalendar.css')
    | <!--[if lt IE 9]>
    |   <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    |   <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    | <![endif]-->

  body

    //header
    header.text-center
      h1.logo
        a(href='#') Lovelive! Calendar!!
      .theme#tm
        img(src='img/theme1.png',alt='')
      .cata_m#cm
        img(src='img/fliter.png',alt='')
      .cata
        .catabtn#b1
          img.g1(src='img/cata_01.png',alt='')
          span 活動
        .catabtn#b2
          img(src='img/cata_02.png',alt='')
          span 周邊
        .catabtn#b3
          img(src='img/cata_03.png',alt='')
          span 生日
        .catabtn#b4
          img(src='img/cata_04.png',alt='')
          span 書籍
        .catabtn#b5
          img(src='img/cata_05.png',alt='')
          span 廣播
        .catabtn#b6
          img(src='img/cata_06.png',alt='')
          span 遊戲
        .catabtn#b7
          img(src='img/cata_07.png',alt='')
          span 聲優
        .catabtn#b8
          img(src='img/cata_08.png',alt='')
          span 期限
        .catabtn#b9
          img(src='img/cata_09.png',alt='')
          span 其他
      .openbtn#tk
        img(src='img/arrow.png',alt='')

    //main
    main.text-center
      .container
        #calendar

    //footer
    footer.text-center
      .copyright
        p LoveLive! Calendar!! ver1.0.0
        p 本站由 kashiwa27 (udon8327@gmail.com) 開發與維護

    //script
    script(src='js/jquery-2.1.4.min.js')
    //script(src='https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='plugins/bootstrap-3.3.1-24/js/bootstrap.min.js')
    script(src='plugins/fullcalendar/moment.min.js')
    script(src='plugins/fullcalendar/fullcalendar.js')
    script(src='plugins/fullcalendar/gcal.min.js')
    script(src='js/index.js')


